# App
NODE_ENV=development
NEXT_PUBLIC_APP_NAME="Portal WiFi Clinica IEQ"

# PostgreSQL + Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portal_ieq?schema=public"

# Optional security tuning
ACCESS_TOKEN_BYTES=16
DEFAULT_BCRYPT_ROUNDS=10
